/* Style v 0.1 */

/* Resets */
ul[class], ol[class] {padding: 0; list-style: none; }
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {margin: 0; }

/* Resets */
:root {
	--number-font: 'Roboto Slab', serif;
	--label-font: 'Lato', sans-serif;
	--accent-color: #2f0074;
}

/* Fonts */
.number { 
	font-family: 'Roboto Slab', serif;
}

/* * * * * * * * * * * * * * * * * * * */
/* Header                              */
/* * * * * * * * * * * * * * * * * * * */
.app-header {
	font-family: var(--label-font);
	color: #fff;
	font-size: 2em;
	text-align: center;
}


/* * * * * * * * * * * * * * * * * * * */
/* Layout                              */
/* * * * * * * * * * * * * * * * * * * */
.uv-app { 
	display: grid; 
	grid-template-rows: 1fr 1fr 1fr; 
	grid-row-gap: 2em;
	padding: 2em; 
	background-image: linear-gradient(#b37bda, #d83d83); 
	height: 100vh;
}


/* * * * * * * * * * * * * * * * * * * */
/* Factors                             */
/* * * * * * * * * * * * * * * * * * * */

/* Factors layout */
.block-factors { 
	display: grid; 
	grid-template-columns: calc(50% - 2em) calc(50% - 2em); 
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 4em;
	text-align: center;
}

/* Spf */
.factor-spf {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.factor-spf_label {
	font-family: var(--label-font);
	color: #fff;
	font-size: 2em;
	font-weight: bold;
}

.factor-spf_number {
	font-family: var(--number-font);
	color: #fff;
	font-size: 3em;
}

/* Age */
.factor-age {
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}

.factor-age_label {
	font-family: var(--label-font);
	color: #fff;
	font-size: 2em;
	font-weight: bold;
}

.factor-age_number {
	font-family: var(--number-font);
	color: #fff;
	font-size: 3em;
}

/* Bmi */
.factor-bmi {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}

.factor-bmi_label {
	font-family: var(--label-font);
	color: #fff;
	font-size: 2em;
	font-weight: bold;
}

.factor-bmi_number {
	font-family: var(--number-font);
	color: #fff;
	font-size: 3em;
}

/* Clothes */
.factor-clothes {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	padding: 0 2em;
}

/* Sun */
.factor-cloud-coverage {
	grid-row: 1 / 2;
	padding: 0 2em;
}


/* * * * * * * * * * * * * * * * * * * */
/* UV Index                            */
/* * * * * * * * * * * * * * * * * * * */

/* UV Index layout */
.uv-index {
	display: grid;
	grid-template-columns: 70% 30%;
	background-color: black;
	border-radius: 10px;
	background-image: linear-gradient(#2f0074, #3e0074); 
}

/* UV Index forecast */
.uv-index-forecast { 
	position: relative;
}

/* UV Index now */
.uv-index-now {
	background-color: #fff;
	border-radius: 10px;
	text-align: center;
}

.uv-index-now_number {
	font-size: 5em;
	color: var(--accent-color);
}

.uv-index-now_label {
	font-family: var(--label-font);
}


/* * * * * * * * * * * * * * * * * * * */
/* Screen sizes                        */
/* * * * * * * * * * * * * * * * * * * */
@media(min-width:980px){
	.uv-app {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 50px 1fr 1fr;
	}

	.app-header { grid-column: 1 / 3; grid-row: 1 / 2; }
	.block-uv { grid-column: 1 / 2; grid-row: 2 / 3; }
	.block-time { grid-column: 1 / 2; grid-row: 3 / 4; }
	.block-factors { grid-column: 2 / 3; grid-row: 2 / 4; }
}